.jumbotron {
  font-family: "Indie Flower", cursive;
  text-align: center;
  background-color: #8fe2f1;
}
.carousel-inner {
  margin: 0 auto;
  text-align: center;
}

#card-container {
  display: none;
}